
/* BODY SETUP */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { background-color: #34495e;}


.mid {
  padding: 1em;
  background: #34495e;
}

h3 {
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 5px;
  font-weight: lighter;
  margin-top: 70px;
}

body h3::before {
  content: "#";
}


/* BUTTON SETUP */
.button {
  display: inline-block;
  letter-spacing: 2.5px;
  text-shadow: 0px 1px 0px rgba(30, 30, 30, 0.8);
  color: #fff;
  padding: 0.8em;
  margin-top: 50px;
  border-bottom: 3px solid #2c3e50;
  border-right: none;
  border-left: none;
  border-top: none;
  border: none;
  box-shadow: 0px 3px 3px rgba(44, 62, 80, 0.64);
  border-radius: 5px;
  font-family: sans-serif;
  text-decoration: none;
  cursor: pointer;
  outline: 0px none !important;
  transition: all 500ms;
}

.button:hover {
  box-shadow: #ffffff;
}

.button:active {
  color: rgba(255, 255, 255, 0.77);
  box-shadow: none;
  text-shadow: none;
  transform: scale(0.9);
}

.button:hover,.button:active,.button:link {
  outline: 0px none;
}

/* BUTTON COLOR */

.button-red {
  background: #e74c3c;
}

.button-red:hover,.button-red:active,.button-red:link {
    background: #c0392b;
}


.button-green {
  background: #27ae60;
}

.button-green:hover,.button-green:active,.button-green:link {
    background: #2ecc71;
}


.button-orange {
  background: #d35400;
  margin-right: 20px;
}

.button-orange:hover,.button-orange:active,.button-orange:link {
    background: #e67e22;
}


/* BUTTON SIZE */
.button-sm {
  padding: 0.8em;
  font-size: smaller;
}

.button-md {
  padding:  1em;
  font-size: medium;
}

.button-lg {
  padding: 1.2em;
  font-size: x-large;
}


/*  SEARCH BUTTON  */

.lbl-search {
     position: relative;
    top: 30px;
    z-index: 10;
    border: 1px solid #3498db;
    padding: 0.5em;
    border-radius: 10px 0 0 10px;
    background: #3498db;
    font-family: sans-serif;
    color: #fff;
    box-shadow: 0px 3px 3px rgba(44, 62, 80, 0.64);
    transition: all 1s;
}

.lbl-search:hover,.lbl-search:active,.lbl-search:link {
  background: #2980b9;
}

input[type="search"] {
   box-shadow: 0px 3px 3px rgba(44, 62, 80, 0.64);
   position: absolute;
   margin-top: -9px;
   left: 72px;
   z-index: 0;
   border-radius: 0 10px 10px 0;
   height: 35.9px;
   color: #34495e;
   text-shadow: none;
   transform: none !important;
    }