<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="//db.onlinewebfonts.com/c/a6bec1c4ef2d2fd1bac5a6951f5f32a3?family=American+Captain" rel="stylesheet"
        type="text/css"/>
  <link href="button.css" rel="stylesheet">
</head>
<body>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<div class="top">
  <header>
    <p><a href="#">Back to Home</a></p>
  </header>
  <hr>
</div><!-- top -->

<div class="mid">
  <h3>A Basic Button</h3>
  <div class="button">Buy Now</div>

  <h3>A Button Element with the Button Class</h3>
  <button class="button">Send Mail</button>

  <h3>An Anchor with a Button Class</h3>
  <a href="#" class="button">Search</a>

  <h3>Buttons of different sizes</h3>
  <div class="button button-sm">A Small Button</div>
  <div class="button button-md">A Medium Button</div>
  <div class="button button-lg">A Large Button</div>
</div><!-- mid -->
</body>
</html>