<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initiale-scale=1">
  <title>Buttons</title>
  <link href="/buttons/button.css" rel="stylesheet">

</head>

<body>
  <div class="mid">
    <h3>A Basic Button</h3>
    <div class="button button-red">Buy Now</div>

    <h3>A Button Element with the Button Class</h3>
    <button class="button button-green">Send Mail</button>

    <h3>An Anchor with a Button Class</h3>
    <label class="lbl-search" for="btn-search">Search
  <input type="search" id="btn-search" class="button"></label>

    <h3>Buttons of different sizes</h3>
    <div class="button button-sm button-orange">A Small Button</div>
    <div class="button button-md button-orange">A Medium Button</div>
    <div class="button button-lg button-orange">A Large Button</div>
  </div>
  <!-- mid -->
</body>

</html>